@model Interdisciplinary.ViewModels.LoginViewModel

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
@using (Html.BeginForm())
{
        @Html.AntiForgeryToken()
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
        @Html.LabelFor(x => x.Password)
        @Html.TextBoxFor(x => x.Password)
        @Html.ValidationSummary()
    <input type="submit" value="submit" />
}
        @Html.Partial("_SignUpPartial")
        @Html.Partial("_SignUpPartialStudent")
    </div>
</body>
</html>
